.App {
  text-align: center;
  background-color: #282c34;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.link{
  background-color: #282c34;
  color: white;
}

.link:hover {
  background-color: #00b3e3;
  color: white;
  transition: all 0.3s ease;
}

.text{
  background-color: #282c34;
  color: white;
  text-decoration: none;
}

body{
  background-color: #282c34;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
